.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin: 1rem;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.black {
  color: black;
}

.search-container {
  display: flex;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc; /* Input alanının kenarlık rengi */
}

.search-icon {
  width: 20px; /* Resmin genişliği */
  height: 20px; /* Resmin yüksekliği */
  margin-right: 10px; /* Resim ile input arasındaki boşluk */
  margin-left: 10px;
}

.input {
  padding: 8px;
  font-size: 16px;
  border: none;
  outline: none;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  color: white;
  background-color: #01447b;
  border-radius: 0.5rem;
  margin-left: 1rem;
  padding: 0.5rem;
}
