.App {
  /* text-align: center; */
  /* background-color: tomato; */
  width: 1280px;
  /* width: 1320px; */
  position: relative;
}

.App-logo {
  /* height: 10vmin;
  pointer-events: none;
  margin: 1rem; */
  position: absolute;
  width: 278px;
  height: 115px;
  top: 183px;
  left: 501px;
}

.App-header {
  /* background-color: greenyellow; */
  width: 1280px;
  /* background-color: #282c34; */
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.searchAppTitle {
  width: 220px;
  height: 20px;
  position: absolute;
  top: 309.71px;
  left: 739.9px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  color: #484848;
}

.largeTitleContainer {
  width: 740px;
  height: 54px;
  position: absolute;
  top: 327.71px;
  left: 270px;
  padding: 12px, 24px, 12px, 24px;
  gap: 8px;
}
.largeTitle {
  width: 692px;
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  color: #090a0a;
}
.App-link {
  color: #61dafb;
}

.black {
  color: black;
}

.mainContainer {
  background-color: rgb(3, 255, 167);
}

.search-container {
  /* display: flex;
  align-items: center; */
  position: absolute;
  width: 646px;
  height: 48px;
  top: 393.86px;
  left: 302.5px;
  border-radius: 8px;
  background-color: teal;
}

.searchIconContainer {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  left: 12px;
}
.searchIcon {
  width: 18px; /* Resmin genişliği */
  height: 18px; /* Resmin yüksekliği */
  position: absolute;
  top: 3px;
  left: 3px;
}

.input {
  width: 610px;
  height: 48px;
  border-radius: 8px;
  border: 2px solid #204080;
  padding-left: 36px;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.addNewRecordbuttonContainer {
  width: 197.16px;
  height: 46px;
  position: absolute;
  top: 64px;
  left: 1020px;
}
.buttonText {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
}
.buttonContainer {
  width: 138px;
  height: 46px;
  position: absolute;
  top: 393.86px;
  left: 959.9px;
}
.button {
  background-color: #204080;
  width: 138px;
  height: 46px;
  /* position: absolute;
  top: 393.86px;
  left: 959.9px; */
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  border-radius: 8px;
}

.resultCardContainer {
  width: 717.84px;
  height: 248.25px;
  top: 458.57px;
  left: 266.58px;
  border-radius: 24px;
  border: 1px solid #484848;
}
.resultCard {
  width: 717.84px;
  height: 248.25px;
  border: 1px solid #484848;
  border-radius: 24px;
  position: absolute;
  top: 458px;
  left: 266.58px;
}

.bold {
  font-weight: bold;
}

.showMore {
  color: #090a0a;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  width: 327px;
  height: 28.77px;
  position: absolute;
  /* top: 665.7px;
  left: 563.98px; */
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.dividers {
  position: relative;
  left: 101.5px;
  width: 575px;
  height: 1px;
  height: 1px;
  background-color: #f2f4f5;
}
.pointer {
  cursor: pointer;
}

.newsImage {
  width: 327px;
  height: 195px;
}

.newsTitle {
  color: #090a0a;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.newsDescription {
  color: #6c7072;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.topNewsContainer {
  width: 740px;
  height: 54px;
  position: absolute;
  top: 788px;
  left: 84.08px;
  padding: 12px 24px 12px 24px;
  gap: 8px;
}
.topNews {
  color: #090a0a;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
.topNewsCaption {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.newsSliderContainer {
  width: 1161.35px;
  height: 279px;
  position: absolute;
  top: 885px;
  left: 55.16px;
  border-radius: 24px;
}
.bigPhotoContainer {
  width: 327px;
  height: 279px;
  top: 885px;
  left: 127.08px;
  gap: 12px;
  margin: 1rem;
}
.footer {
  display: flex;
  background-color: #294e98b8;
  /* width: 1280px; */
  width: 1320px;
  height: 277.13px;
  position: absolute;
  top: 1222.87px;
}

.footerLeftImage {
  width: 217.42px;
  height: 179.5px;
  /* top: 1271.69px; */
  /* left: 59.66px; */
  position: relative;
  top: 50.69px;
  left: 59.66px;
}

.footerMapImage {
  /* width: 467.49px;
  height: 222.49px;
  top: 1250.19px;
  left: 758.67px; */

  position: absolute;
  left: 758.67px;
  top: 40.19px;
}
.footerDescription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  color: #ffffff;
  position: relative;

  width: 424.98px;
  height: 171.77px;
  top: 40px;
  left: 102.5px;
}

.tableContainer {
  display: flex;
  justify-content: center;

  width: 666px;
  height: 63px;
  /* position: absolute; */
  /* top: 474.7px;
  left: 277.08px; */
  position: relative;
  top: 6px;
  padding: 12px, 24px, 11px, 24px;
}
.tableIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  left: 20px;
}

.contentIsHere {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  width: 151px;
  height: 20px;
}
.forCaption {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  top: 24px;
  height: 16px;
  width: 196px;
}

.partialsContainer {
  width: 582px;
  height: 40px;
  position: absolute;
  /* top: 12px; */
  left: 60px;
}
